<div class="dialog-head bg-color-primary">
  <mat-icon class="text-color-primary">error</mat-icon>
  <h2 class="text-color-primary" style="padding-left: 2px; padding-right: 8px">ERROR!</h2>
  <span class="app-spacer"></span>
</div>

<mat-dialog-content class="dialog-content" style="text-align: center; margin: 0px 0px 12px 0px;">

  <div style="width: 210px;"></div>
  <p>{{ data.message }}</p>

</mat-dialog-content>

<mat-dialog-actions align="center" style="margin: 0px 0px 6px 0px;">
  <button mat-raised-button color="primary" [mat-dialog-close]='true'>Close</button>
</mat-dialog-actions>
