@import './../../styles/breakpoints.scss';

.toolbar-container {
  width: 100%;
  height: fit-content;
}

.toolbar-spacer-desktop {
  flex: 1 1 auto;
}

@media screen and (max-width: $sm) { 
  .toolbar-spacer-desktop {
    flex: none;
  }
}

.toolbar-spacer-mobile {
  flex: none;
}

@media screen and (max-width: $sm) { 
  .toolbar-spacer-mobile {
    flex: 1 1 auto;
  }
}

.toolbar-spacer {
  flex: none;
}

@media screen and (max-width: $sm) { 
  .toolbar-spacer {
    flex: 1 1 auto;
  }
}

.mat-toolbar-row, .mat-toolbar-single-row {
  height: 62px !important;
}

@media screen and (max-width: $sm) { 
  .mat-toolbar-row, .mat-toolbar-single-row {
    padding: 0px 8px !important;
    height: 52px !important;
  }
}

.drawer-container {
  width: 70px;
  height: 100%;
  overflow: auto;
}

.control-windows-container {
  position: absolute; 
  top: 0; 
  right: 0;
  left: 0;
  bottom: 0;
}

.form-container {
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;

	.form-container-inner {
		position: relative;
		display: block;
		width: 100%;
		height: auto;
    overflow: auto;
	}
} 

.form-view-screen {
  margin: 1.5rem auto 1.5rem auto;
  width: 100%;
  max-width: 501px;
}

.local-input-field {
	width: 100%;
	margin-top: 0.25rem;
	padding-left: 6%;
	padding-right: 6%;
}
