<div class="local-container d-flex flex-column h-100">
  <div style="padding-top: 0.5rem;"> 
    <div app-font-title style="text-align: center">
      {{ currentProjectService.name }} 
    </div>

    <mat-list>
      <mat-divider></mat-divider>
    </mat-list>
  </div>

  <div style="padding-top: 0.5rem;"> </div>

  <div class="canvas-main-container">
    <div 
      id="{{containerID}}" class="controller" style="margin: auto;" #canvasContainer 
      (mousedown)="setFocus();"
      tabindex="-1"
      (focus)="onFocusEle();"
      (blur)="onFocusLeaveEle();"
    >
      
    </div>
  </div>

  <div style="margin-top: auto">

    <mat-list>
      <mat-divider></mat-divider>
    </mat-list>

    <div class="app-mat-tab-inline">
      <nav mat-tab-nav-bar mat-align-tabs="center" [backgroundColor]="undefined">
        <div class="footer">
  
          <span class="space">
            <button mat-raised-button color="primary" (click)="setZoom(1.25)">
              <mat-icon>zoom_in</mat-icon>
              <span style="margin-right: 0px !important;">Zoom in</span>
            </button>
          </span>

          <span class="space">
            <button mat-raised-button color="primary" (click)="setZoom(0.8)">
              <mat-icon>zoom_out</mat-icon>
              <span style="margin-right: 0px !important;">Zoom out</span>
            </button>
          </span>

          <span class="space">
            <mat-form-field style="padding-top: 4px; min-width: 150px;">
              <mat-label>Zoom</mat-label>
              <input
                matInput
                type="number" min="0" max="400" step="5"
                name="filter"
                [(ngModel)]="zoomRatio"
                (change)="setZoom(1)"
              />
            </mat-form-field>
          </span>
  
        </div>
      </nav>
    </div>

  </div>

</div>
